.env
.gitignore
data/ne_10m_admin_0_countries.zip
data/ne_10m_admin_0_countries/*
db/games_old.db
db/games.csv
scripts/__pycache__/*
scripts/create_table_player_stats.py
scripts/gen_secret.py
scripts/get_stats_queries.sql
scripts/logging_test.py
services/__pycache__/*
db/games_backup.db
db/games_pre_stats.db
