.env
.gitignore
data/ne_10m_admin_0_countries.zip
data/ne_10m_admin_0_countries/*
db/games_old.db
db/games.csv
scripts/__pycache__/*
scripts/create_table_player_stats.py
scripts/gen_secret.py
scripts/get_stats_queries.sql
scripts/logging_test.py
services/__pycache__/*
services/__pycache__/game_database_connections.cpython-311.pyc
services/__pycache__/game_database_connections.cpython-311.pyc
services/__pycache__/game_get_data.cpython-311.pyc
services/__pycache__/game_logic.cp

services/__pycache__/game_observe.cpython-311.pyc
services/__pycache__/game_database_connections.cpython-311.pyc
