<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Bordle{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css">
  {% block head %}{% endblock %}

  <div style="position: absolute; top: 10px; right: 20px;">
    <img src="{{ url_for('static', filename='images/stats_icon.png') }}" alt="Stats" 
        style="width: 30px; height: 30px; cursor: pointer;" onclick="toggleStats()">
  </div>
</head>

<body class="bg-gray-50 text-gray-900 font-sans flex flex-col items-center min-h-screen py-6">
  {% block content %}{% endblock %}

  <!-- Common JS -->
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

  {% block scripts %}{% endblock %}
</body>
</html>