<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Bordle 🌍{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css">
  {% block head %}{% endblock %}

  <div class="absolute top-4 right-4 flex items-center space-x-2 z-50">
    <img src="{{ url_for('static', filename='images/how_to_play_icon.png') }}" alt="howToPlay" 
      style="width: 30px; height: 30px; cursor: pointer;" onclick="toggleHowToPlay()">

    <!-- Stats Icon Button -->
    <img src="{{ url_for('static', filename='images/stats_icon.png') }}" alt="Stats" 
      style="width: 30px; height: 30px; cursor: pointer;" onclick="toggleStats()">

    <img src="{{ url_for('static', filename='images/world_icon.png') }}" alt="leaderboard" 
      style="width: 30px; height: 30px; cursor: pointer;" onclick="toggleLeaderboard()">
  </div>
</head>

<body class="bg-gray-50 text-gray-900 font-sans flex flex-col items-center min-h-screen py-6">
  {% block content %}{% endblock %}

  <!-- Common JS -->
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

  <script>
    if (window.location.pathname !== "/stats") {
      console.log("[stats_page.js] Not on /stats — skipping script execution.");
    } else {
      console.log("[stats_page.js] Running stats page logic...");
    }

  </script>

  {% block scripts %}{% endblock %}
  
</body>
</html>

<style>
  input:checked + .block {
    background-color: #4ade80; /* green for ON */
  }

  input:checked + .block + .dot {
    transform: translateX(100%);
  }

  .dot {
    transition: transform 0.3s ease-in-out;
  }
</style>

<!-- Required for loading leaderboard modal -->
<script>
  function toggleLeaderboard() {
    window.location.href = "/stats";
  }
</script>