<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Bordle</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

  
  <div class="absolute top-4 right-4 flex items-center space-x-2 z-50">
    <img src="{{ url_for('static', filename='images/how_to_play_icon.png') }}" alt="howToPlay" 
        style="width: 30px; height: 30px; cursor: pointer;" onclick="toggleHowToPlay()">

  <!-- Stats Icon Button -->
  <img src="{{ url_for('static', filename='images/stats_icon.png') }}" alt="Stats" 
      style="width: 30px; height: 30px; cursor: pointer;" onclick="toggleStats()">
  </div>

</head>

{% include 'components/game_stats_modal.html' %}

{% include "components/game_how_to_play_modal.html" %}

<body class="bg-gray-50 flex flex-col items-center justify-center min-h-screen p-6">

    {% if stats is defined %}
        {% include 'components/game_stats_modal.html' %}
    {% endif %}
  <!-- Logo -->
  <img src="{{ url_for('static', filename='images/bordle_logo.png') }}"
       alt="BORDLE Logo" class="w-64 mb-8">

  <!-- Hard Mode Toggle -->
   
  <form action="{{ url_for('set_mode_and_play') }}" method="post" class="mb-6">
    <div class="toggle-container">
    <label class="toggle-switch">
        <input type="checkbox" id="hard_mode" name="hard_mode" {% if hard_mode %}checked{% endif %}>
        <span class="slider"></span>
    </label>
    <span class="toggle-label">Hard Mode (No country name!)</span>
    </div>
    <div class="mt-6 text-center">
      <button type="submit"
              class="bg-green-600 text-white px-6 py-3 rounded-lg text-xl hover:bg-green-700">
        Play Game
      </button>
    </div>
  </form>

</body>
</html>


<script>
  function toggleStats() {
    const modal = document.getElementById("gameStatsModal");
    modal.classList.toggle("hidden");
  }
</script>
<script>
  function toggleHowToPlay() {
    const modal = document.getElementById("howToPlayModal");
    modal.classList.toggle("hidden");
  }
</script>